@import "tailwindcss";

:root {
    /* DEFAULTS */
    box-sizing: border-box;
    background-color: var(--color-primary-bg);
    color: var(--color-primary-txt);
    font-family: 'Mojangles';
    /* letter-spacing: 1px; */
    word-spacing: 6px;
}

@theme {
    --color-primary-bg: #000000;
    --color-secondary-bg: #404040;

    --color-primary-txt: #e1e1e1;
}

@font-face {
    font-family: 'Mojangles';
    src: url(../../public/fonts/Mojang-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}